@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #202025;
}

.screen {
  border: none;
  padding: 0;
  margin: 0;
  width: 1153px;
  height: 750px;
  background-color: #000;
}
@media (-webkit-device-pixel-ratio: 3) {
  .screen {
    margin-top: -3rem;
    margin-left: -3rem;
  }
}
@media (orientation: landscape) {
  .screen {
    margin-top: 0rem;
  }
}

.wrapper {
  width: inherit;
  height: inherit;
  background-color: #252525;
  color: #fff;
  font-family: 'JetBrains Mono';
  margin: 0;
  font-weight: 400;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  max-width: 700px;
  min-height: 300px;
}

section h1 {
  color: #fff;
  font-weight: 300;
  line-height: 1.2;
  font-size: 2.3rem;
  text-align: center;
  text-shadow: 3px 1px #0ffbf9, -3px 1px #ff3f4a;
}
